# Dependencies
node_modules
package-lock.json
yarn.lock

# Environment variables
.env
.env.local

# Build output
dist
build

# IDE
.vscode
.idea
*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log
yarn-error.log

# Testing
coverage
.jest_cache

# Misc
temp
tmp
